
            
body{
    color: aliceblue;
    font-size: 15px;
    /* background: url('img/gymi.jpg'); */
   /* padding: 25px; */
   font-family: 'Baloo bhai 2', cursive;
 height: 50vh;
 

}
.left{
    display: inline-block;

    /* border: 2px solid rgb(113, 14, 14); */
    position: absolute;
    left: 3px;
    top: 4px;
    padding: 8px;
    display: inline-block;
    position: absolute;


 }
.left img{
    width: 135px;
    /* margin: 25px 20px; */
    margin: 0px 26px;
    filter:invert(100%);
    /* position: sticky; */
}
.left div{
    text-align: center;
    line-height: 19px;
    font-size: 20px;
    padding: 5px;
    margin-right: 3px;
}
.mid{
    /* display: block; */
    /* width: 33%; */
    margin: 20px auto;
    /* border: 2px solid rgb(19, 22, 224); */
    /* padding: 3px; */
    font-family: 'Baloo Bhai 2', cursive;
    width: 50%;
    /* font-size: 200px; */
    display: inline-block;
    position: absolute;
    

}
.right{
    display: inline-block;
    position: absolute;
    right: 2px;
    top: 25px;
    margin: 35px 31px;
    /* border: 2px solid rgb(19, 224, 97); */

}

.navbar{
    display: inline-block;
    position: absolute;
    margin-left: 10rem;

}
.navbar li{
    color: aliceblue;
    font-size: 25px;
    display: inline-block;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 35px 23px;

}

.navbar li a:hover, .navbar li a.active{ 
    text-decoration: underline;
    color: gray;     
}
.container h1{
    text-align: center;
}
.container button{
    display: block;
    width: 58%;
    /* padding: 2px 55px; */
    margin: auto;
}
.btn{
    margin: 0px 9px;
    color: white;
    background-color: black;
    padding: 5px 15px;
    border: 3px solid grey;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Baloo bhai 2', cursive;

}
.btn:hover{
    background-color: rgb(71, 59, 59);
}
.container{
    /* margin: 85px 20px; */
    margin: 136px 124px;
    padding: 26px 0px;
    /* border: 3px solid rgb(241, 36, 166); */
    border-radius: 10px;
    width: 700px;
    font-family: 'Baloo Bhai 2', cursive;
    display: inline-block;
    position: absolute;

}
.form-group input{
text-align: center;
display: block;
width: 35px;
padding: 8px;
width: 55%;
border: 3px solid black;
margin: 8px auto;
font-size: 20px;
/* border-radius: 25px;   */
}
.bg-img{
    height: 50rem;
    width: 100%;
    position: absolute;
}
.marque{
    font-size: 15px;
    color: red;
    border: 100px;
}
   
